#date-heading {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    color: #3f3f3f;
    margin-top: 30px;
    margin-bottom: 10px;
}

#changelog-heading {
    font-family: "Montserrat";
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
    color: #3f3f3f;
}

#features {
    background-color: #2cc65f;
    color: white;
    font-size: 14px;
}

#improvements {
    background-color: #2670FF;
    color: white;
    font-size: 14px;
}

#fixes {
    background-color: #DB9327;
    color: white;
    font-size: 14px;
}

#changelog-list {
    margin-top: 10px;
    color: #3f3f3f;
}

#changelog-listitem {
    margin-top: 3px;
}