.App {
  text-align: center;
}

#root {
  zoom: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#navLinkToggled {
  font-family: "Inter";
  color: black;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  margin-top: 7px;
}

.form-check-input {
  position: absolute;
  margin-top: .2rem;
}

.suggestion {
  background-color: #f1f1f1;
  color: gray;
  font-size: 80%;
  padding: 0.25em 0.7em;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-item.nav-link.active {
  color: #1652F0 !important;
}

.nav-item.nav-link {
  color: white !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
