.modal-open .modal {
  margin-top: 40px;
}

.modal-content {
  border-radius: 8px;
  border: transparent;
  font-family: "Inter";
}

.modal-header {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.modal-footer {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
  font-family: "Montserrat";
}

.modal-backdrop {
  background-color: #b4c3f9;
}

#requestCall {
  font-size: 16px;
  border-bottom: 1px solid #dee2e6;
}

.titleHeadings {
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
}

input {
  font-family: "Inter";
  color: #7f7f7f;
}

.form-group {
  margin-bottom: 8px;
}

/* Home Page / navbar */

.jumbotron {
  background-color: white;
}

.container {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: "Inter";
  color: black;
}

/* login/register */

.form-check-label {
  font-size: 13px;
  font-family: "Inter";
}

/* offer related */
.list-group-item {
  padding-left: 0px;
  padding-right: 0px;
}

#yourOffer {
  padding: 2rem;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 1500px;
  border-radius: 0px 16px 16px 16px !important;
  box-shadow: 0px -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
}

.badge {
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
}

.toast {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-control-label {
  padding-top: 2px;
}

#home-heading-1 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: bold;
  color: #2670ff;
}

#step-number {
  background-color: white;
  border: 1px solid #2670ff;
  color: #2670ff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 24px;
  padding-top: 12px;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 15px;
}

#steps-container {
  width: 100%;
  text-align: left;
  padding-right: 70px;
}

#step-text {
  height: 165px;
}

#steps-number-container {
  /* display: inline; */
  float: left;
  width: 100px;
  margin-left: 30px;
  height: 500px;
}

#steps-number-container:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 120px;
  bottom: 200px;
  left: 74px;
  height: 300px;
  border-left: 2px dashed #2670ff;
}

#title-steps {
  font-family: "Montserrat";
  font-size: 24px;
  color: #333333;
  margin-bottom: 6px;
  font-weight: 600;
  line-height: 27px;
}

#instruction-container {
  margin-top: 40px;
}

#row-steps {
  margin-top: 40px;
}

#regular-text-home {
  font-family: "Inter";
  font-size: 20px;
  color: #7f7f7f;
  padding-left: 180px;
  padding-right: 180px;
  text-align: center;
}

@media (max-width: 768px) {
  #regular-text-home {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: -20px;
  }

  #instruction-container {
    margin-top: 20px;
  }

  #row-steps {
    margin-top: 80px;
  }
}
