/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-LightItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
}


#homeButtons {
  border-radius: 8px;
  background-color: transparent;
  border-color: white;
  font-family: "SF Text", sans-serif;
  font-size: 16px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

#showRequestModal {
  margin-top: 60px;
}

.modal-content {
  border-radius: 8px;
  border: transparent;
  font-family: "SF Text";
}

.modal-header {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.modal-footer {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
  font-family: "SF Display", sans-serif;
}

.modal-backdrop {
  background-color: #B4C3F9;
}

#requestCall {
  font-family: "SF Text";
  font-size: 16px;
  border-bottom: 1px solid #dee2e6;
}

#phoneNumber {
  font-weight: bold;
  color: #314CCE;
}

.titleHeadings {
  font-family: "SF Text";
  font-weight: bold;
  font-size: 16px;
}

input {
  font-family: "SF Text";
  color: #7F7F7F;
}

.form-group {
  margin-bottom: 8px;
}

#locationInfo {
  font-family: "SF Text";
  color: #7F7F7F;
  margin-bottom: 5px;
  margin-top: 0px;
}

#notSelected {
  height: 29px;
  border-radius: 40px;
  background: transparent;
  color: #314CCE;
  font-family: "SF Text";
  font-weight: bold;
  border: 1px solid #314CCE;
  box-sizing: border-box;

  margin: 4px 8px 4px 0px;
  padding-bottom: 0;
  padding-top: 0;
  display: inline-block;

  flex: none;
  order: 0;
  align-self: flex-start;
  vertical-align: middle;
}

#selected {
  height: 29px;
  border-radius: 40px;
  background: #314CCE;
  color: white;
  font-family: "SF Text";
  font-weight: bold;
  border: 1px solid #314CCE;
  box-sizing: border-box;

  margin: 4px 8px 4px 0px;
  padding-bottom: 0;
  padding-top: 0;
  display: inline-block;

  flex: none;
  order: 0;
  align-self: flex-start;
  vertical-align: middle;
}

.form-control {
  font-family: "SF Text";
  font-size: 16px !important;
  height: 39px;
  color: #7F7F7F;
  /* text-indent: 7px; */
}

#orgSelect {
  text-indent: 5px;
}

textarea.form-control {
  font-family: "SF Text";
} 

#nextPage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  height: 49px;
  font-family: "SF Text";
  background-color: #314CCE;
  border-radius: 8px;
}

#pageNumber {
  text-align: center;
  margin-top: 15px;
  font-family: "SF Text";
  color: #7F7F7F;
}

/* Home Page / navbar */

@media (max-width:767px){
  #jumboContainer {
    margin-left: 5% !important;
  }
}

#jumboContainer {
  margin-left: 14%;
}

.jumbotron {
  background-color: #194bd3;
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
  margin-left: 5%;
  font-size: 28px;
  margin-right: 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

#volunteerBadge {
  font-family: "SF Text";
  font-weight: bold;
  height: 27px;
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  padding-top: 7px;
}

.container {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: "SF Display";
  color: white;
}

#jumboHeading {
  font-weight: bold;
  font-size: 40px;
  /* margin-top: -15px; */
}

#jumboText {
  font-family: "SF Text";
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
}

/* login/register */

#or {
  letter-spacing: -2px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 0px;
  color: #7F7F7F;
}

#createAccount {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 49px;
  font-family: "SF Text";
  background-color: transparent;
  border-color: #194bd3;
  color: #194bd3;
  border-radius: 8px;
}

#createAccountText {
  font-family: "SF Text";
  font-size: 14px;
  color: #7F7F7F;
  margin-bottom: 5px;
}

#contactInfoText {
  font-family: "SF Text";
  font-size: 14px;
  color: #7F7F7F;
  font-style: italic;
}

#never {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  color: black;
}

#leftCarButton {
  font-family: "SF Text";
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 39px;
  background-color: transparent;
  border-color: #194bd3;
  color: #194bd3;
  border-width: 1px 0px 1px 1px;
  border-radius: 8px 0px 0px 8px;
}


#leftCarButtonPressed {
  font-family: "SF Text";
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 39px;
  background-color: #194bd3;
  border-color: #194bd3;
  color: white;
  border-width: 1px 0px 1px 1px;
  border-radius: 8px 0px 0px 8px;
}

#rightCarButton {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 39px;
  background-color: transparent;
  border-color: #194bd3;
  color: #194bd3;
  font-family: "SF Text";
  border-radius: 0px 8px 8px 0px;
}

#rightCarButtonPressed {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 39px;
  background-color: #194bd3;
  border-color: #194bd3;
  color: white;
  font-family: "SF Text";
  border-radius: 0px 8px 8px 0px;
}

.form-check-label {
  font-size: 13px;
  font-family: "SF Text";
}

#toastError {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 130px;
  margin-right: 10px;
}

#justRegisteredModal {
  width: 100%;
  padding: 1rem;
}


/* location component */
#helpText {
  font-family: "SF Text";
  font-size: 16px;
  color: #7F7F7F;
  margin-bottom: 10px;
}


/* offer related */
.list-group-item {
  padding-left: 0px;
  padding-right: 0px;
}

#offerContainer {
  padding: 1rem;
  border-radius: 16px 0px 16px 16px !important;
  box-shadow: 0px -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
}

#yourOffer {
  padding: 1rem;
  border-radius: 0px 16px 16px 16px !important;
  box-shadow: 0px -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
}

.badge {
  padding-top: 6px !important;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
}

#filterButton {
  z-index: 10;
  border-radius: 8px 8px 0px 0px;
  background-color: rgba(255,255,255, 0.93);
  color: #314CCE;
  font-family: "SF Text";
  font-weight: bold;
  border: transparent;
  box-shadow: 0px -4px 10px 3px rgba(0, 0, 0, 0.05);
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

#notSelectedFilter {
  height: 29px;
  background: transparent;
  color: #314CCE;
  font-family: "SF Text";
  font-weight: normal;
  border: transparent;

  padding: 0;
  display: block;
  vertical-align: middle;
}

.toast {
  border-radius: 8px;
  border: transparent;
}

.dropdown-item {
  height: 29px;
  background: transparent;
  color: #314CCE;
  font-family: "SF Text";
  font-weight: normal;
}

.dropdown-item.active {
  background: #314CCE;
  background-color: #314CCE;
  color: white;
}

.dropdown-item.active, .dropdown-item:active {
  background: #314CCE;
  background-color: #314CCE;
  color: white;
}

.dropdown-menu.show {
  border-radius: 8px;
  border: transparent;
  box-shadow: 0px -4px 10px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.volunteerName {
  font-family: "SF Text";
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 2px;
  font-size: 16px;
  color: black;
}

.alert {
  font-family: "SF Text";
  font-size: 16px;
}

.custom-control-label {
  padding-top: 2px;
}