.volunteer-name {
  font-family: "SF Text";
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 16px;
  color: black;
  display: inline;
}

.association-name {
  font-family: "SF Text";
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 13px;
  color: #314CCE;
  display: inline;
  font-weight: 300;
  margin-left: 5px;
  /* float: right; */
}

.list-group-flush .list-group-item {
  padding-left: 10px;
}

#filterButton {
  z-index: 10;
  border-radius: 8px 8px 0px 0px;
  background-color: rgba(255,255,255, 1);
  color: #314CCE;
  font-family: "SF Text";
  border: transparent;
  box-shadow: 0px -4px 10px 3px rgba(0, 0, 0, 0.05);
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-top: 10px;
}

.volunteer-location {
  font-family: "SF Text";
  color: #7F7F7F;
  margin-bottom: 5px;
  margin-top: 0px;
}

#volunteer-mobile {
  font-family: "SF Text";
  font-weight: bold;
  height: 24px;
  vertical-align: middle;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 0px !important;
  margin-top: 0px;
}

.task-info {
  height: 25px;
  border-radius: 40px;
  background: #194bd3;
  color: white;
  font-size: 13px;
  font-family: "SF Text";
  font-weight: bold;
  border: 1px solid #314CCE;
  box-sizing: border-box;

  margin: 4px 8px 4px 0px;
  padding-bottom: 0;
  padding-top: 6px;
  display: inline-block;

  flex: none;
  order: 0;
  align-self: flex-start;
  vertical-align: middle;
}

#jumboContainer {
  margin-left: 7%;
  margin-right: 5%;
  height: 240px;
  padding-top: 22px;
  max-width: 1500px;
}

#location-container {
  margin-left: 7%;
  max-width: 1200px;
}

#city-support-text-tablet { 
  display: none;
}

#mobile-tablet-separate {
  display: none;
}

#mobile-org {
  display: none;
}

@media (max-width:1150px){ 
  #jumboContainer {
    height: 290px;
    margin-left: 5%;
  }

  #location-container {
    margin-left: 5%;
  }
}

@media (max-width:1000px){ 
  #jumboContainer {
    margin-left: 4%;
    margin-right: 4%;
  }

  #location-container {
    margin-left: 4%;
  }
}

@media (max-width:900px){ 
  #jumboContainer {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  #location-container {
    margin-left: 3%;
  }
}

@media (max-width:800px){ 
  #jumboContainer {
    margin-left: 2%;
    margin-right: 2%;
  }

  #location-container {
    margin-left: 2%;
  }
}

@media (max-width:768px){ 
  #jumboContainer {
    height: 260px;
  }

  #community-bulletin {
    display: none;
  }


  .volunteer-badge-web {
    display: none;
  }

  .volunteer-badge-mobile {
    display: block !important;
  }

  .mobile-bulletin-container {
    display: block !important;
  }

  #city-support-text-tablet { 
    display: block;
  }

  #mobile-tablet-separate {
    display: block;
  }

  #web-separate {
    display: none;
  }

  #jumbo {
    padding-top: 30px;
  }
}


@media (min-width:578px){ 
.mobile-bulletin-container {
  padding-top: 0px !important;
}
}

@media (max-width:578px){ 
  #jumboContainer {
    height: 320px;
  }

  #city-support-text-tablet { 
    display: none;
  }

  #mobile-org {
    display: none;
  }

  .mobile-bulletin-container {
    padding-top: 0px !important;
  }

  #jumbo {
    padding-top: 30px;
  }
}

@media (max-width:345px){ 
  #jumboContainer {
    height: 360px;
  }

  #jumbo {
    padding-top: 1px;
  }
}

@media (max-width:345px){ 
  #jumboContainer {
    height: 410px;
  }
}

.volunteer-badge-mobile {
  display: none;
}


/* @media (min-width: 100px) {
  #jumboContainer{
    max-width: 1400px;
  }
} */

#jumboHeading {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0px;
}

#community-bulletin {
  margin-top: -20px;
  padding-right: 0px;
  padding-left: 10px;
}

#mobile-bulletin {
  margin-top: -2px;
  padding-right: 0px;
  padding-left: 0px;
}

.mobile-bulletin-container {
  /* padding-top: 0px !important; */
  display: none;
}

#jumbo-text {
  margin-top: 10px;
  padding-right: 35px;
}

.location-text {
  font-family: "SF Text";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
}

.volunteer-info {
  font-family: "SF Text";
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 0px;
}

#general-request-link {
  font-family: "SF Text";
  font-size: 16px;
  float: right;
  color: #314CCE;
  margin-top: -30px;
  margin-right: 20px;
}

#enter-location {
  font-family: "SF Text";
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#enter-location {
  font-family: "SF Text";
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#covid-resources {
  color: white;
  font-family: "SF Text";
  margin-top: 10px;
  padding-left: 0px;
}

#refresh-location {
  color: #314CCE;
  font-family: "SF Text";
  margin-top: -17px;
  padding-left: 0px;
}

#requester-tab {
  padding: 1rem;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 1500px;
  border-radius: 0px 16px 16px 16px !important;
  box-shadow: 0px -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
  color: black;
  font-family: 'SF Text';
  padding-top: 25px;
}

.bfifxy {
  max-width: 1000px !important;
}