.modal-open .modal {
  margin-top: 40px;
}

.modal-content {
  border-radius: 8px;
  border: transparent;
  font-family: "Inter";
}

.modal-header {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.modal-footer {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
  font-family: "Montserrat";
}

.modal-backdrop {
  background-color: #B4C3F9;
}

#requestCall {
  font-size: 16px;
  border-bottom: 1px solid #dee2e6;
}

.titleHeadings {
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
}

input {
  font-family: "Inter";
  color: #7F7F7F;
}

.form-group {
  margin-bottom: 8px;
}

/* Home Page / navbar */

.jumbotron {
  background-color: white;
}

.container {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: "Inter";
  color: black;
}

/* login/register */

.form-check-label {
  font-size: 13px;
  font-family: "Inter";
}

/* offer related */
.list-group-item {
  padding-left: 0px;
  padding-right: 0px;
}

#yourOffer {
  padding: 2rem;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 1500px;
  border-radius: 0px 16px 16px 16px !important;
  box-shadow: 0px -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
}

.badge {
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
}

.toast {
  border-radius: 8px;
  border: transparent;
}

.custom-control-label {
  padding-top: 2px;
}