.dropdown-sort {
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border-color: #314CCE;
    color: #314CCE;
    border-radius: 8px;
    font-weight: 700;
    font-family: "SF Text";
}

.dropdown-sort:hover {
    background-color: #314CCE;
    color: white;
}

input {
    border-radius: 8px !important;
}

/* .list-group {
    font-family: "SF Text";
} */

#mark-complete {
    width: 100%;
    margin-right: 10px;
    margin-top: 8px;
    height: 49px;
    font-family: "SF Text";
    background-color: transparent;
    border-color: #28a745;
    color: #28a745;
    border-radius: 8px;
}

#remove-request {
    width: 100%;
    margin-right: 10px;
    margin-top: 8px;
    height: 49px;
    font-family: "SF Text";
    background-color: transparent;
    border-color: #AE2F2F;
    color: #AE2F2F;
    border-radius: 8px;
}

#name-details {
    font-family: "SF Display";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -5px;
}

.task-info-requests {
    height: 25px;
    border-radius: 40px;
    background: #194bd3;
    color: white;
    font-size: 13px;
    font-family: "SF Text";
    font-weight: bold;
    border: 1px solid #314CCE;
    box-sizing: border-box;
    margin-top: 4px;
  
    margin: 4px 8px 4px 0px;
    padding-bottom: 0;
    padding-top: 4px;
    display: inline-block;
  
    flex: none;
    order: 0;
    align-self: flex-start;
    vertical-align: middle;
  }


.assignee-info {
    height: 25px;
    border-radius: 40px;
    background: #6c757d;
    color: white;
    font-size: 13px;
    font-family: "SF Text";
    font-weight: bold;
    border: 1px solid #6c757d;
    box-sizing: border-box;
    margin-left: 5px !important;
  
    /* margin: 4px 8px 4px 0px; */
    padding-bottom: 0;
    padding-top: 4px;
    display: inline-block;
  
    flex: none;
    order: 0;
    align-self: flex-start;
    vertical-align: middle;
  }