.dropdown-sort {
    width: 100%;
    background-color: transparent;
    border-color: #2670FF;
    color: #2670FF;
    border-radius: 8px;
    font-weight: 700;
    font-family: "Inter";
}

.dropdown-sort:hover {
    background-color: #2670FF;
    color: white;
}

input {
    border-radius: 8px;
}

#filter-requests {
    border-radius: 8px;
}

#name-details {
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -3px;
}

#login-container {
    padding-left: 100px;
    padding-top: 50px;
    padding-top: 60px;
}

#emailOrg.form-control {
    border-radius: 12px;
    width: 300px;
}

#passOrg.form-control {
    border-radius: 12px;
    width: 300px;
}

.pending-task {
    float: right;
    height: 25px;
    border-radius: 40px;
    background: transparent;
    color: #8A8A8A;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    border: 1px solid #8A8A8A;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 8px !important;
    padding-bottom: 0;
    padding-top: 6px;
    display: inline-block;
  
    flex: none;
    order: 0;
    align-self: flex-start;
    vertical-align: middle;
}

.in-progress-task {
    float: right;
    height: 25px;
    border-radius: 40px;
    background: transparent;
    color: #DB9327;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    border: 1px solid #DB9327;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 8px !important;
    padding-bottom: 0;
    padding-top: 6px;
    display: inline-block;
  
    flex: none;
    order: 0;
    align-self: flex-start;
    vertical-align: middle;
}

.no-match-task {
    float: right;
    height: 25px;
    border-radius: 40px;
    background: transparent;
    color: #dc3545;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    border: 1px solid #dc3545;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 8px !important;
    padding-bottom: 0;
    padding-top: 6px;
    display: inline-block;
  
    flex: none;
    order: 0;
    align-self: flex-start;
    vertical-align: middle;
}

#resources-link {
    color: #2670FF;
    font-family: 'Inter';
    text-decoration: underline;
    margin-top: 10px;
}

#volunteer-not-selected {
    height: 23px;
    border-radius: 40px;
    background: white;
    border: 1px solid #2670FF;
    color: #2670FF;
    padding-top: 2px;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    margin: 4px 8px 4px 0px;
    float: right;
    margin-top: 6px !important;
    padding-bottom: 0;
    padding-top: 1px;
    display: inline-block
}

#requester-not-selected {
    height: 23px;
    border-radius: 40px;
    background: white;
    border: 1px solid #DB4B4B;
    color: #DB4B4B;
    padding-top: 2px;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    margin: 4px 8px 4px 0px;
    float: right;
    margin-top: 6px !important;
    padding-bottom: 0;
    padding-top: 1px;
    display: inline-block
}


#volunteer-selected {
    height: 23px;
    border-radius: 40px;
    background: #2670FF;
    border: 1px solid #2670FF;
    color: white;
    padding-top: 2px;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    margin: 4px 8px 4px 0px;
    float: right;
    margin-top: 6px !important;
    padding-bottom: 0;
    padding-top: 1px;
    display: inline-block
}

#requester-selected {
    height: 23px;
    border-radius: 40px;
    background: #DB4B4B;
    border: 1px solid #DB4B4B;
    color: white;
    padding-top: 2px;
    font-size: 13px;
    font-family: "Inter";
    font-weight: bold;
    margin: 4px 8px 4px 0px;
    float: right;
    margin-top: 6px !important;
    padding-bottom: 0;
    padding-top: 1px;
    display: inline-block;
}

#default-checkbox {
    position: absolute;
    width: 19px;
    height: 19px;

    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}