#jumbo-volunteer {
  background-color: transparent;
  padding-top: 58px;
  padding-bottom: 30px;
}

@media (min-width: 1100px) {
  #bgImage {
    position: absolute;
    /* left: 21px; */
    top: 90px;
    width: 100%;
    height: 100%;
    background-image: url("./assets/VolunteerBG.png");
    background-size: cover;
  }

  #bgImageLong {
    position: absolute;
    /* left: 21px; */
    top: 90px;
    width: 100%;
    height: 250%;
    background-image: url("./assets/long_BG.png");
    background-size: cover;
  }
}

#profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  object-fit: cover;
}

.fileContainer .deleteImage {
  font-weight: 600;
  background-color: red !important;
  font-size: 15px !important;
}

#vertical-line {
  display: inline;
  border-left: 1px solid #dee2e6;
  height: 600px;
  float: left;
}

.active-beacon {
  float: right;
  height: 25px;
  border-radius: 40px;
  background: transparent;
  color: #28a745;
  font-size: 13px;
  font-family: "Inter";
  font-weight: bold;
  border: 1px solid #28a745;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 8px !important;
  padding-bottom: 0;
  padding-top: 6px;
  display: inline-block;

  flex: none;
  order: 0;
  align-self: flex-start;
  vertical-align: middle;
}

.inactive-beacon {
  float: right;
  height: 25px;
  border-radius: 40px;
  background: transparent;
  color: #dc3545;
  font-size: 13px;
  font-family: "Inter";
  font-weight: bold;
  border: 1px solid #dc3545;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 8px !important;
  padding-bottom: 0;
  padding-top: 6px;
  display: inline-block;

  flex: none;
  order: 0;
  align-self: flex-start;
  vertical-align: middle;
}

@media only screen and (max-width: 1100px) {
  #check {
    display: none;
  }
}

#tab-button-selected {
  z-index: 10;
  border-radius: 40px;
  background-color: white;
  border: 1px solid #616161 !important;
  color: #616161;
  font-family: "Inter";
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#tab-button {
  z-index: 8;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #cecece !important;
  color: #7f7f7f;
  font-family: "Inter";
  height: 36px;
  font-size: 16px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#tab-button-temp {
  z-index: 8;
  border-radius: 0px;
  background-color: transparent;
  border-top: 1px solid #cecece !important;
  border-right: 0px solid #cecece !important;
  border-left: 0px solid #cecece !important;
  border-bottom: 1px solid #cecece !important;
  color: #7f7f7f;
  font-family: "Inter";
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 10px;
  margin-left: -18px;
  margin-bottom: 10px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2670ff;
  border-color: #2670ff;
}

@media (min-width: 576px) {
  #volunteer-details.modal-dialog {
    max-width: 700px;
  }
}

#volunteer-details .modal-content {
  border-radius: 16px 16px 16px 16px !important;
  box-shadow: 0 -1px 30px -8px rgba(0, 0, 0, 0.4) !important;
}

#regular-text-nomargin {
  font-family: "Inter";
  color: #7f7f7f;
  margin-bottom: -3px;
  margin-top: 0px;
}
#offer-save-button,
#offer-edit-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 49px;
  font-family: "Inter";
  background-color: transparent;
  border-color: #2670ff;
  color: #2670ff;
  border-radius: 8px;
}
#offer-save-button {
  background-color: #2670ff;
  color: white;
}
#offer-save-button:hover {
  background-color: #2661f9;
  transition: 0.5s;
}
#offer-edit-button:hover:enabled {
  background-color: #2670ff;
  color: white;
  transition: 0.2s;
}
#large-activate-button,
#large-inactivate-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 49px;
  font-family: "Inter";
  background-color: transparent;
  border-color: #ae2f2f;
  color: #ae2f2f;
  border-radius: 8px;
}
#large-activate-button {
  background-color: #2670ff;
  border-color: #2670ff;
  color: white;
}
#large-activate-button:hover {
  background-color: #2657f9;
  border-color: #2657f9;
  transition: 0.4s;
}
#large-inactivate-button:hover {
  background-color: #ae2f2f;
  color: white;
  transition: 0.25s;
}
#volunteer-main-content {
  font-family: "Inter";
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: -30px;
  color: #7f7f7f;
  max-width: 1500px;
  padding: 0px 32px 16px 32px;
}
#status-change-description {
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
}
#volunteer-offer-status {
  font-family: "Montserrat";
  font-size: 20;
  font-weight: bold;
}
#offer-detail-response {
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
}
#your-offer-header-detail {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
}
