# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

.DS_Store
node_modules/
client/node_modules/
config/client_secret.json
.env
*.orig
.idea/
.vscode/

# testing
/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json
src/client/package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
sendgrid.env
google.env
